.pagination {
    float: left;

    span.previous_page, span.next_page, em.current {
        display: block;
        float: left;
        padding: 0 14px;
        line-height: 34px;
        text-decoration: none;
        border: 1px solid #DDD;
        color: #666;
    }
    
    span.next_page {
        border-left-width: 0;
    }
    
    a.previous_page {
        border-left-width: 1px;
    }
    
    a:hover {
        color: #333;
    }
    
    em.current {
        border-left-width: 0;
        background-color: #F0F0F0;
    }
}

a.btn.btn-danger {
    color: #FFF;
}

a.btn-lista-adicionar {
    float: right;
    margin: 25px 0;
}